<h1>Resource error on site <%= site %></h1>
<p>
  <%= site %> has a problem. It is not possible to load all the resources the page demands. Now, I am just a machine, but surely that must be a bad sign?
</p>
<h3>Debug info</h3>
<strong>Request + render:</strong> <%= numbers.TOTALTIME %>ms<br>
<strong>Total resources:</strong> <%= numbers.TOTALRESOURCES %>
<pre><%= debugData %></pre>
